*{
    padding: 0;
    margin: 0;
  }
  
  .clearfix::before, .clearfix::after{
      display: block;
      content: '';
      clear: both;
  }
  
  @font-face {
      font-family: 'Cafe24ClassicType-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Cafe24Simplehae';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  a{
    text-decoration: none;
    font-family: 'Cafe24ClassicType-Regular';
    color: #F2C438;
  }
  
  ul{
    list-style: none;
    text-align: center;
  }
  
  /* 전체 */
  #wrap{
    margin: 0 auto;
  }
  
  #page1Wrap, #page2Wrap, #page3Wrap{
    width: 100vw;
    height: 900px;
    position: relative;
    background: rgba(0,0,0,0.5);
  }
  
  .bg1 img, .bg2{
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
  }
  
  /* header */
  header{
    width: 100vw;
    height: 100px;
    /*background: red;*/
  }
  
  /* page1Wrap */
  .menu{
    float: left;
    width: 600px;
    margin-top: 2%;
    margin-left: 5%;
  }
  .menu > ul{
    width: 100%;
  }
  .menu > ul > li{
    float: left;
    width: 33.333%;
  }
  .menu > ul > li > a{
    display: block;
    font-size : 20px;
    transition: text-shadow 0.35s ease-in-out;
  }
  
  .menu > ul > li:hover > a{
    text-shadow: 5px 5px 5px #000;
  }
  
  .logo{
    float: right;
    width: 200px;
    height: 100%;
    margin-top: 2%;
  /*   margin-left: 5%; */
  }
  
  .logo > a{
    display: block;
    font-size: 40px;
  }
  
  /* p1Mid, p21Mid p31Mid */
  .p1Mid, .p2Mid, .p3Mid{
    width: 100%;
    height: 700px;
  /*   background: blue; */
  }
  
  .p2Img{
    width: 100%;
  /*   height: 100%; */
  }
  
  .p1Img{
    width: 100%;
    height: 100%;
  /*   margin-left: 35%;  */
    padding-top: 2.5%;
    
  }
  
  .p1ImgBg{
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
  }
  
  .p1ImgBg img{
    width: 600px;
    height: 600px;
    display: block;
    z-index: 1;
  }
  
  .p1ImgBg::before{
    position:absolute;
    width: 750px;
    height: 100px;
    content:'';
    top: 225px;
    left: -60px;
    border: 3px solid #F1EFA5;
    border-radius: 50%;
    z-index:-1;
    transition: all 2.5s;
    transform:rotate(-30deg);
  }
  
  .p1ImgBg:hover::before{
  /*   top: 50px;
    left: 50px; */
    transform:rotate(-330deg);    
  }
  
  /* footer */
  footer{
    width: 100%;
    height: 100px;
  /*   background: green; */
  }
  footer > ul{
    width: 150px;
  /*   background: yellow; */
    margin-left: 7%;
  }
  footer > ul > li{
    float: left;
    width: 33.33%;
  }
  footer > ul > li > a{
    display: block;
    font-size: 20px;
    color: #F1EFA5;
    transition: all 0.5s ease-in-out;
  }
  
  footer > ul > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  .p1Foo li:nth-child(1) a{
    color:  #F2C438;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  /* page2Wrap */
  .bg2{
    background: #022B3F;
  }
  
  .p2Mid{
    position: relative;
  }
  
  .p2Title{
    position: absolute;
    padding-left: 22%;
    padding-top: 10%;
  }
  
  .p2Title p{
    display: block;
    letter-spacing: 100px;
    font-family: "Cafe24Simplehae";
    font-size: 200px;
    color: #F2C438;
  }
  
  .p2Mid div{
    display: block;
  }
  
  .p2Img > ul{
    width: 100%;
    padding-top: 6%;
  }
  .p2Img > ul > li{
    float: left;
    width: 33.33%;
  }
  .p2Img > ul > li > a{
  /*   pointer-events: none; */
    display: block;
  /*   overflow: hidden; */
  }
  
  .p2Img img{
    width: 230px;
    height: 325px;
    z-index: 5;
    opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 25%;
    filter: drop-shadow(8px 8px 8px #000);
   
  }
  
  .p2Img img:hover{
    -webkit-filter: brightness(20%);
    filter: brightness(20%) blur(2px); 
    opacity: 0.8;
  }
  
  .p2ImgCon{
    width: 100%;
    position: absolute;
    top: 22%;
  }
  
  .p2ImgCon > li{
    float: left;
    width: 33.33%;
  /*   width: 250px; */
  /*   padding-left: 10%;
    padding-right: 10%; */
  }
  
  .p2ImgCon > li > p{
    width: 180px;
  /*   display: none; */
    margin: 0 auto;
    color: #F1EFA5;
    font-family: 'Cafe24ClassicType-Regular';
    z-index: 1;
  }
  
  .p2ImgCon > li > p:first-child{
    padding-bottom: 20px;  
    font-size: 23px;
    text-align: left;
    color: #F2780C;
    font-weight: bold;
  }
  
  .p2ImgCon > li > p:last-child{
    line-height: 25px;
    text-align: left;
    font-size: 15px;
  }
  
  
  .p2Title{
    font-size: 55px;
    letter-spacing: 10px;
  }
  
  .p2Con{
    width: 100%;
  }
  
  .p2Con > ul{
    width: 100%;
    padding-top: 3.5%;
  }
  .p2Con > ul > li{
    float: left;
    width: 33.33%;
  }
  .p2Con > ul > li > a{
    display: block;
    font-size: 20px;
  }
  
  .p2Foo ul li:nth-child(2) a{
    color:  #F2C438;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  /* page3Wrap */
  .p3Mid div{
    float: left;
  }
  
  .p3Img{
    width: 45%;
    
  }
  
  .p3Img img{
    float: right;
    padding-top: 50px;
    padding-right: 15%;
    filter: drop-shadow(-50px -50px 4px #000);
    transition: filter 1.5s;
  }
  
  .p3Img:hover img{
    filter: drop-shadow(16px 12px 12px #000);
  }
  
  .p3Con{
    width: 55%;
  }
  
  .p3Con p{
    display: block;
    font-family: 'Cafe24ClassicType-Regular';
    line-height: 50px;
    
  }
  
  .p3Con p:nth-child(1){
    font-size: 80px;
    color: #F2C438;
    padding-top: 13%;
    padding-bottom: 70px;
    text-shadow: 3px 3px 0px #F2780C;
    transition: all 1s ;
  }
  
  .p3Con p:nth-child(1):hover{
    text-shadow: 3px 3px 0px #F2C438;
    color: #F2780C;
  }
  
  .p3Con p:nth-child(2){
    font-family: 'Cafe24Simplehae';
    font-size: 20px;
    color: #F1EFA5;
    text-shadow: 5px 5px 2px #000;
  }
  
  .p3Foo ul li:nth-child(3) a{
    color:  #F2C438;
    text-decoration: underline;
    text-underline-offset: 5px;
  }